[Desktop Entry]
Type=Application
Name=Terminal
Comment=Terminal de comandos de MiniAriño
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
